.header__menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-color;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  &--current,
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: $main-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__menu-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  height: 80px;
  border-bottom: 1px solid $header-border;
}

.header__menu-list,
.header__contacts-list,
.header__nav {
  display: flex;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__contacts-item:nth-child(1) {
  margin-right: 50px;
}

.header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
