.logo {
  display: block;
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;

  color: $logo-header-color;

  text-decoration: none;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: $accent-color;
}
