.modal__form {
  padding: 40px;
}

.modal__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $secondary-color;
}

.modal__form-label {
  position: absolute;
  top: -18px;
  /* высота строки 14px + margin 4px */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $main-color;
}

.modal__form-input {
  display: block;
  margin-bottom: 28px;
  padding-left: 42px;
  width: 100%;
  height: 40px;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-color;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $timing-function;

  &:last-child {
    margin-bottom: 20px;
  }

  &:focus {
    border: 1px solid $accent-color;
    outline-width: 0px;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $secondary-color;
  transition: fill 250ms $timing-function;

  .modal__form-input:focus + & {
    fill: $accent-color;
  }
}

.modal__text-area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__form-field {
  position: relative;
}

.modal__checkbox-area {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-link {
  padding-left: 0.3rem;

  line-height: 1.71;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $accent-color;
}

.modal__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal__checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;

  background-color: inherit;
  border: 2px solid $secondary-color;
  border-radius: 4px;

  background-image: none;
  transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function, background-image 250ms $timing-function;

  .modal__checkbox-input:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url("../images/checkmark.svg");
    background-size: contain;
    background-origin: border-box;
  }
}
