.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $icon-color;

  transition: background-color 250ms $timing-function,
    fill 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: $footer-color;
  }
}
