body {
  font-family: $main-font;
  color: $main-color;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $footer-color;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
