$main-color: #757575;
$secondary-color: #212121;
$accent-color: #2196f3;
$logo-header-color: #000000;
$footer-color: #ffffff;
$filter-background: #f5f4fa;
$footer-background: #2f303a;
$header-border: #ececec;
$card-border: #eeeeee;
$footer-contacts: rgba(255, 255, 255, 0.6);
$hero-btn-hover: #188ce8;
$icon-color: #afb1b8;
$hero-bckgrnd: #c4c4c4;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
